.row{
    margin-top: 20px;
    margin-left: 25px;
}
tbody{
    background-color: white;
}

.tbody-text{
    color: black;
}

.tbody-text{
    margin: 0;
    width: 25%;
}

.table-hinzu{
    height: 100%;
}

.col-mid-6{
    height: 75%;
}

.inputField{
    padding: 0;
    margin: 0;
    border-style: none;
}

.tbody-felder{
    padding: 0;
    margin: 0;
}

.md-textarea{
    border-style: none;
}

#katWahl{
    border-style: none;
}

.error{
    background-color: red;
    background-color: hsla(0, 100%, 50%, 0.5);

}

/*Entfernen der Auswahlpfeile in Number Input Feld*/
input[type='number']{
    -moz-appearance:textfield;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/*Größeneinstellungen für Smartphones*/
@media (min-width: 576px){

}

/* Größeneinstellungen für Tabletgröße*/
@media (min-width: 768px) {
}

/* Größeneinstellungen für Desktops*/
@media (min-width: 1200px) {
}
