.row{
    margin-top: 20px;
    margin-left: 25px;
}
tbody{
    background-color: white;
}

.tbody-text{
    color: black;
}

.thead{
    background-color: rgb(242, 242, 60);
}

#testText{
    color: rgb(0,99,175);
    font-size: 150%;
}

.tbody-text{
    margin: 0;
    width: 25%;
}

.table-hinzu{
    height: 100%;
}

.col-mid-6{
    height: 75%;
}

.inputField{
    padding: 0;
    margin: 0;
    border-style: none;
}

.tbody-felder{
    padding: 0;
    margin: 0;
}

.md-textarea{
    border-style: none;
}

#katWahl{
    border-style: none;
}

.error{
    background-color: red;
}

/*Entfernen der Auswahlpfeile in Number Input Feld*/
input[type='number']{
    -moz-appearance:textfield;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.footer{
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: auto;
}

/* Tests zu Slogan und Logo
#logo{
    width: 10%;
    max-height: auto;
    margin-left: 3%;
    margin-bottom: 1%;
}

#slogan{

}
*/
