.row{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
tbody{
    background-color: white;
}

.tbody-text{
    color: black;
}

.tbody-text{
    margin: 0;
    width: 25%;
}

.table-hinzu{
    height: 100%;
}

.col-mid-6{
    height: 75%;
}

.inputField{
    padding: 0;
    margin: 0;
    border-style: none;
}

.tbody-felder{
    padding: 0;
    margin: 0;
}

.md-textarea{
    border-style: none;
}

#inputGroupSelect01{
    border-style: none;
}

.footer{
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: auto;
}
#deleteBtn{
    margin-left: 6px;
}

/*Größeneinstellungen für Smartphones*/
@media screen and (min-width: 768px){
    .row{
        height: 1500px;
    }

    #gesTable{
        display: grid;
        grid-template-rows: 40% 1% 60%;
        grid-template-columns: 100%;
    }

    #leftTable{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
    }

    #rightTable{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:3;
        grid-row-end:4;
    }

    #deleteBtn{
        margin-left: 40px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 992px) {
    #deleteBtn{
        margin-left: 8px;
        margin-top: 0;
    }

    .row{
        height: 1500px;
    }

    .header{
        height: 150px;
    }

    #gesTable{
        display: grid;
        grid-template-rows: 40% 1% 60%;
        grid-template-columns: 100%;
    }

    #leftTable{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
    }

    #rightTable{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:3;
        grid-row-end:4;
    }
}

/* Größeneinstellungen für Desktops*/
@media screen and (min-width: 1200px){

    #deleteBtn{
        margin-left: 14px;
        margin-top: 0;
    }

    .row{
        height: 100%;
    }

    #gesTable{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 1% 50%;
    }


    #leftTable{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
    }

    #rightTable{
        grid-column-start:3;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:2;
    }

}
