@font-face{
    font-family: 'Segoe';
    src: url('font/SEGOEUI.TTF') format('truetype');
}

html{
    font-family: Segoe, sans-serif;
}

html, body{
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
}

.header{
    height: 20%;
}

.background{
    background-image:  url(../../pix/edeka-logo.png), url(../../pix/edeka-slogan.png), url(../../pix/EDEKA_Hintergrund.jpg);
    background-attachment: fixed;
    background-size: 45px 65px, 190px 35px,cover;
    background-position: bottom 10px left 20px, bottom 10px right 10px, center;
    background-repeat: no-repeat;
}

.title, h1{
    font-family: Arial Black, sans-serif;
    font-size: 30px;
}

.title{
    margin-left: 20px;
    margin-top: 10px;
}

.container{
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    width:100%;
    max-width:100%;
}

.listButton{
    width: 67%;
    float:left;
}
/*Suchbar*/
.searchbar{
    width:33%;
    float:right;
}
.searchbarInput{
    font-size: 15px;
    border: none;
    padding: 4px;
    margin-right: 0;
}
.searchButton{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 4px 10px;
}

#lupe{
    height: 20px;
}

.liste{
  width:15%;
  float: left;
}

.button{
  width:70%;
  float: right;
}

.clickBtn{
    background-color: white;
    font-size: 15px;
    border: none;
    margin-left: 10px;
    padding: 4px;
    margin-left: 10px;
}

/*Dropdown*/

.liste li {
 display: block;
 transition-duration: 0.5s;
 border-style: groove;
 font-family: Segoe, sans-serif;
 font-style: normal;
 padding: 2px;
 color: black;
}

.liste li:hover {
  cursor: pointer;
}

.liste ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 5s ease;
  padding-top: 4px;
  display: none;
  padding-left: 0;
  margin-left: -3px;
  margin-bottom: 2px;
  font-family: Segoe, sans-serif;
}

.liste ul li:hover >  ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.liste ul li ul li {
  clear: both;
  width: 100%;
}

.liste ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}




/*Größeneinstellungen für Smartphones*/
@media (min-width: 576px){
    .background{
        background-size: 55px 75px, 300px 45px,cover;
        background-position: bottom 10px left 20px, bottom 10px right 20px, center;
    }

    .title, h1{
        font-size: 40px;
    }

    .title{
        margin-left: 20px;
    }
}

/* Größeneinstellungen für Tabletgröße*/
@media (min-width: 768px) {
    .background{
        background-size: 75px 100px, 350px 50px,cover;
        background-position: bottom 10px left 30px, bottom 10px right 30px, center;
    }

    .title, h1{
        font-size: 50px;
    }

    .title{
        margin-left: 30px;
    }
}

/* Größeneinstellungen für Desktops*/
@media (min-width: 1200px) {
    .background{
        background-size: 100px 150px, 500px 75px,cover;
        background-position: bottom 10px left 30px, bottom 10px right 30px, center;
    }

    .title, h1{
        font-size: 70px;
    }

    .title{
        margin-left: 30px;
    }
 }
