@font-face{
    font-family: 'Segoe';
    src: url('../font/SEGOEUI.TTF') format('truetype');
}

html{
    font-family: Segoe, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    color: white;
}

footer{
  bottom: 0;
  position: fixed;
  height: 20%;
  width: 100%;
  background-image: url(../../pix/edeka-logo.png), url(../../pix/edeka-slogan.png),url(../../pix/EDEKA_Hintergrund_footer.png);
  background-position: bottom 1% left 2%, bottom 1% right 2%, center;
  background-repeat: no-repeat;
}

.thead{
    background-color: #FFE842;
}

#testText{
    color: #0063AF;
    font-size: 150%;
}

.background{
    background-image:url(../../pix/EDEKA_Hintergrund.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width:100%;
    max-width:100%;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    max-height: 100%;

}

.header{
    height: 20%;
}

.books{
    height: 60%;
    max-height: 80%;
}

.title, h1{
    font-family: Arial Black, sans-serif;
    font-size: 60px;
    text-decoration: none;
}

.title, a{
  color: #0063AF;
}

.title, a:hover{
    text-decoration: none;
    color: #0063AF;
}

.title{
    margin-top: 10px;
}

.liste{
  width:180px;
  float: left;
}

.listButton{
    float:left;
}

.searchbarPP input {
    border: none;
    float: left;
}

.searchbarPP img{
    align-content:center;
    float: right;
}

.searchbarPP button{
    height: 100%;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.searchbarPP{
    padding-left: 0;
    float: right;
}

.button{
  float: right;
}

.clickBtn{
    background-color: white;
    font-size: 25px;
    border: none;
    padding: 4px;
}

/*Dropdown*/
.liste li {
 display: block;
 transition-duration: 0.5s;
 border-style: groove;
 font-family: Segoe, sans-serif;
 font-style: normal;
 padding: 2px;
 color: black;
}

.liste li:hover {
  cursor: pointer;
}

.liste ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 5s ease;
  padding-top: 4px;
  display: none;
  padding-left: 0;
  margin-left: -3px;
  margin-bottom: 2px;
  font-family: Segoe, sans-serif;
}

.liste ul li:hover >  ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.liste ul li ul li {
  clear: both;
  width: 100%;
}

.liste ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.table-books{
    display: inline-block;
    overflow-y: scroll;
    max-height: 100%;
    margin-bottom: 32px;
}

/*Verschiedene Größeneinstellungen*/
@media screen and (min-width: 768px){

    .title, h1{
        font-size: 70px;
        margin-left: 20px;
    }

    .title{
        margin-left: 20px;
    }

    .liste{
        font-size: 25px;
    }

    .header{
        height: 350px;
    }

    footer{
        background-size: 15% 55%, 40% 20% ,cover;
    }

    .clickBtn{
        margin-left: 40px;
    }

    .searchbarPP input {
        font-size: 25px;
        padding: 4px;
    }

    .searchbarPP img{
        width:35px;
        height:35px;
    }

    .searchbarPP button{
        font-size: 25px;
    }

    .searchbarPP{
        width: 36.5%;
        height: 45px;
        margin-right: 15px;
    }

    .button{
        width: 10%;
    }

    .listButton{
        width: 0px;
    }
}

@media screen and (min-width: 992px) {

    .header{
        height: 150px;
    }

    .title, h1{
        font-size: 60px;
    }

    .title{
        margin-left: 30px;
    }

    .liste{
        font-size: 18px;
    }

    .listButton{
        width: 600px;
    }

    .clickBtn{
        font-size: 18px;
        margin-left: 10px;
    }

    .button{
        width: 400px;
    }

    footer{
        background-size: 10% 75%, 26% 40% ,cover;
    }

    .searchbarPP input {
        font-size: 17px;
        padding: 5px;
    }

    .searchbarPP img{
        width:25px;
        height:25px;
    }

    .searchbarPP button{
        font-size: 25px;
        margin-left: 2px;
    }

    .searchbarPP{
        width: 25%;
        height: 35px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 1200px){

    .header{
        height: 200px;
    }

    .title, h1{
        font-size: 70px;
    }

    .title{
        margin-left: 15px;
    }

    .liste{
        font-size: 15px;
    }

    .clickBtn{
        font-size: 15px;
        margin-left: 10px;
    }

    footer{
        background-size: 5% 65%, 26% 35% ,cover;
    }

    .searchbarPP input {
        font-size: 15px;
        padding: 4px;
    }

    .searchbarPP img{
      width:20px;
      height:20px;
    }

    .searchbarPP button {
        font-size: 17px;
        margin-left: 2px;
    }

    .searchbarPP{
        width: 230px;
        height: 30px;
        margin-right: 15px;
    }

    .button{
        width: 350px;
    }

    .listButton{
        width: 550px;
    }



 }
