@font-face{
    font-family: 'Segoe';
    src: url('../font/SEGOEUI.TTF') format('truetype');
}

html{
    font-family: Segoe, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    color: white;
}

footer{
  bottom: 0;
  position: fixed;
  height: 20%;
  width: 100%;
  background-image: url(../../pix/edeka-logo.png), url(../../pix/edeka-slogan.png),url(../../pix/EDEKA_Hintergrund_footer.png);
  background-size: 5% 75%, 26% 40% ,cover;
  background-position: bottom 1% left 2%, bottom 1% right 2%, center;
  background-repeat: no-repeat;
}

.thead{
    background-color: #FFE842;
}

#testText{
    color: #0063AF;
    font-size: 150%;
}

.background{
    background-image:url(../../pix/EDEKA_Hintergrund.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width:100%;
    max-width:100%;
    padding-left: 0;
    padding-right: 0;
}

.header{
    height: 20%;
}

.title, h1{
    font-family: Arial Black, sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.title, a{
  color: #0063AF;
}

.title, a:hover{
    text-decoration: none;
    color: #0063AF;
}

.title{
    margin-top: 10px;
}

.liste{
  width:180px;
  float: left;
}

.listButton{
    width: 67%;
    float:left;
}
/*Suchbar*/

.searchbarPP{
  width: 33%;
  padding-left: 13%;
  float: left;
  height: 30px;
}

.searchbarPP img{
  width:20px;
  height:20px;
  align-content:center;
  float: right;
}

.searchbarPP input {
    font-size: 15px;
    border: none;
    padding: 4px;
    float: left;
}


.searchbarPP button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-left: 2px;
    height: 100%;
}

.button{
  width:70%;
  float: right;
}

.clickBtn{
    background-color: white;
    font-size: 15px;
    border: none;
    margin-left: 10px;
    padding: 4px;
}

/*Dropdown*/
.liste li {
 display: block;
 transition-duration: 0.5s;
 border-style: groove;
 font-family: Segoe, sans-serif;
 font-style: normal;
 padding: 2px;
 color: black;
}

.liste li:hover {
  cursor: pointer;
}

.liste ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 5s ease;
  padding-top: 4px;
  display: none;
  padding-left: 0;
  margin-left: -3px;
  margin-bottom: 2px;
  font-family: Segoe, sans-serif;
}

.liste ul li:hover >  ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.liste ul li ul li {
  clear: both;
  width: 100%;
}

.liste ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

/*Größeneinstellungen für Smartphones*/
@media (min-width: 576px){

    .title, h1{
        font-size: 40px;
    }

    .title{
        margin-left: 20px;
    }
}

/* Größeneinstellungen für Tabletgröße*/
@media (min-width: 768px) {

    .title, h1{
        font-size: 50px;
    }

    .title{
        margin-left: 30px;
    }
}

/* Größeneinstellungen für Desktops*/
@media (min-width: 1200px) {

    .title, h1{
        font-size: 70px;
    }

    .title{
        margin-left: 30px;
    }
 }
