td{
  color: black;
}

a{
  color: #0063AF;
}

a:hover{
  text-decoration: underline;
}

tbody{
  background-color: white;

}

#wechselButton{
    margin-top: 0;
}

#titel_th{
  width:60%;
}
#autor_th{
  width:45%;
}
#jahr_th{
  width:5%;
}

#isbn_th{
  width:10%;
}

/*Verschiedene Größeneinstellungen*/
@media screen and (min-width: 768px){


    .table-books{
      width:92.5%;
      margin-left: 40px;
      margin-right: 40px;
    }

    #wechselButton{
        margin-top: 15px;
    }

}

@media screen and (min-width: 992px) {
    #wechselButton{
        margin-top: 0;

    }

}

@media only screen and (min-width: 1200px){

    #wechselButton{
        margin-top: 0;
    }

    .table-books{
      width:96.5%;
      margin-left: 40px;
      margin-right: 0;
      padding-right: 0;
    }

    .books{
        padding-right:0;
    }
 }
