/*@font-face{
    font-family: 'Segoe';
    src: url('font/SEGOEUI.TTF') format('truetype');
}
*/
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
.background{
    background-image:  url(../edeka-logo.png), url(../edeka-slogan.png), url(../EDEKA_Hintergrund.jpg);
    background-attachment: fixed;
    background-size: 100px 150px, 500px 75px,cover;
    background-position: bottom 10px left 30px, bottom 10px right 30px, center;
    background-repeat: no-repeat;

}

.title, h1{
    font-family: Arial Black;
    font-size: 70px;
    color: white;
}

.title{
    margin-left: 30px;
    margin-top: 10px;
}

.container{
    margin: 0px;
    padding: 0px;
}
